details.svelte-szi6iy.svelte-szi6iy{margin-top:8px}details.svelte-szi6iy>summary.svelte-szi6iy{user-select:none;margin-left:8px;text-transform:uppercase;font-size:10px;font-weight:700;cursor:pointer}
