.sidebar-icon {
  @apply relative flex items-center justify-center
          h-12 w-12 my-2 mx-auto shadow-lg
          bg-gray-800 text-green-500
          rounded-3xl
          transition-all duration-75
          cursor-pointer;
}

.sidebar-tooltip {
  @apply absolute w-auto p-2 m-2 min-w-max left-14
          rounded-md shadow-md
          text-white bg-gray-900
          text-xs font-bold
          transition-all duration-150 scale-0 origin-left
          cursor-default;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
